/* element selecor */
h1{
    color: red;
}

/* universal selector */
*{
    margin: 0px;
    padding: 0px;
}

/* Pseudo class selector START*/ 
#link1:link{
    color: red;
}

#link1:active{
    color: yellow;
}

#link1:hover{
    color:green;
}

#link1:visited{
    color: gray;
}
/* Pseudo class selector END*/ 


/* Pseudo element selector START */
p::first-letter{
    text-transform: uppercase;
}
p::first-line{
    font-size: 16px;
}

h4::before{
    content: url("image.png");
    
}

h4::after{
    content: "this is a content";
    
}

a[target = "_blank"]{
    background-color: yellow;
}
/* Pseudo element selector END */


/* SELECTORS */

/* ancestor's child css  */
/* .main-div h1{
    background-color: green;
    color: white;
} */

/* child selector */
/* .main-div > h1 {
    background-color: blue;
    color: aliceblue;
} */

/* adjacent sibling : h1 pachi ko recent h2 lincha*/
/* h1 + h2 {
    background-color : pink;
    color: white
} */

/* general sibling : h1 pachi ko sabai h2 lincha*/
/* h1 ~ h2 {
    background-color: black;
    color: white;
} */


/* border */
.main-div{
    border:  5px dashed green  ;
    border-radius: 10px;
    background-color: pink;
    background-image: url(https://images.pexels.com/photos/33044/sunflower-sun-summer-yellow.jpg?cs=srgb&dl=pexels-pixabay-33044.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 70%;
    background-position: top;

}

.img-sticky{
    background-image: url(https://images.pexels.com/photos/2651796/pexels-photo-2651796.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: auto;
    background-position: 0%;

}